body {
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

tr {}

td {
    padding: 13px 10px;
    border: 1px solid #b0afe8;
}

img {
    border: 1px solid #d0d0d0;
}